* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 32pt;
}
h4 {
  font-size: 14pt;
}

body {
  background-color: #212123;
}

.container-index {
  padding-left: 120px;
  padding-right: 120px;

  //Fearute

  .features-section {
    padding-top: 145px;
    .feature-ct {
      display: flex;
      justify-content: space-between;
      .feature {
        padding: 10px;
        margin-top: 100px;
        width: 250px;
        text-align: center;
        color: #fff;
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }

  //Category
  .category-section {
    padding-top: 140px;
    .category-ct {
      display: grid;
      grid-template-columns: auto auto;
      grid-row-gap: 75px;
      grid-column-gap: 30px;
      .middle-upper.diff-right {
        background: rgb(255, 203, 71);
        background: linear-gradient(
          90deg,
          rgba(255, 203, 71, 1) 0%,
          rgba(255, 183, 0, 1) 100%
        );
      }

      .middle-upper.diff-left {
        background: rgb(243, 71, 255);
        background: linear-gradient(
          90deg,
          rgba(243, 71, 255, 1) 0%,
          rgba(238, 0, 255, 1) 100%
        );
      }
      .middle-upper {
        border-radius: 10px;
        padding: 25px;
        background: rgb(151, 71, 255);
        background: linear-gradient(
          90deg,
          rgba(151, 71, 255, 1) 0%,
          rgba(108, 21, 220, 1) 100%
        );
        .lt-middle {
          position: relative;
          height: 230px;
          img {
            position: absolute;
            top: -80px;
          }
          p {
            position: absolute;
            bottom: 0px;
            font-size: 3rem;
            font-weight: 500;
            opacity: 0.4;
          }
        }
        .rt-middle {
          .cat-h3 {
            color: #fff;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 30px;
          }
        }
        .btn-cat {
          z-index: 999;
          text-align: center;
          font-size: 23px;
          padding: 10px 20px;
          background: #ff00a2;
        }
      }
    }
  }
}

//nav
header {
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 999;
  padding-left: 120px;
  padding-right: 120px;
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      h1 {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .links {
      ul {
        display: flex;
        li {
          padding: 10px 20px;
          list-style: none;

          a {
            color: #fff;
            text-decoration: none;
          }
          a.active::after {
            content: "";
            width: 30px;
            display: block;
            height: 2px;
            background-color: #fff;
          }
        }
      }
    }
  }
}
.header {
  padding-left: 120px;
  padding-right: 120px;
  height: 100vh;
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .opacity {
    background-color: rgba($color: #212123, $alpha: 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    .heder-heading {
      text-align: center;
      .line {
        background-color: #9747ff;
        height: 2px;
        width: 250px;
        margin: 0px auto;
      }
      h1 {
        font-size: 70px;
        max-width: 990px;
        text-align: center;
        color: #fff;
        margin-bottom: 70px;
      }
    }
  }
}

.highlight {
  background: linear-gradient(
    90deg,
    rgba(151, 71, 255, 1) 0%,
    rgba(108, 21, 220, 1) 98%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-i {
  font-size: 27px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 40px;
  text-decoration: none;
  background: rgb(151, 71, 255);
  background: linear-gradient(
    90deg,
    rgba(151, 71, 255, 1) 0%,
    rgba(108, 21, 220, 1) 98%
  );
  border-radius: 10px;
}
.heading-sec {
  margin-bottom: 70px;
  .line-heading {
    width: 100px;
    height: 2px;
    background-color: #9747ff;
  }
  h2 {
    color: #fff;
    font-size: 40px;
  }
}

.best-seller-ct {
  padding-top: 145px;
  .heading-sec {
    padding-left: 120px;
  }
  .carousel {
    height: 600px;
  }
  .bst-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // .b-seller.b-active {
    //   position: absolute;
    //   border-radius: 10px;
    //   width: 870px;
    //   height: 560px;
    //   justify-content: space-around;
    //   display: flex;
    //   background: rgb(151, 71, 255);
    //   background: linear-gradient(
    //     90deg,
    //     rgba(151, 71, 255, 1) 0%,
    //     rgba(175, 128, 255, 1) 100%
    //   );
    //   img {
    //     width: 100%;
    //   }
    // }

    .b-seller {
      padding: 30px;
      width: 700px;
      height: 450px;
      justify-content: space-around;
      display: flex;
      align-items: center;
      background: rgb(151, 71, 255);
      background: linear-gradient(
        90deg,
        rgba(151, 71, 255, 1) 0%,
        rgba(175, 128, 255, 1) 100%
      );
      img {
        width: 90%;
      }
      .bs-content {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        .upper {
          .news {
            display: flex;
            .new {
              background-color: #ffcb47;
              /* margin-left: 19px; */
              padding-left: 24px;
              padding-right: 24px;
              font-size: 20px;
              border-radius: 8px;
            }
            .new-2 {
              background-color: #f347ff;
              margin-left: 20px;
            }
          }
          h2 {
            font-size: 60px;
            font-weight: 400;
          }
          h4 {
            font-size: 28px;
            font-weight: 400;
          }
          .price {
            font-size: 40px;
          }
        }
        .down {
          .cart {
            display: flex;
            align-items: center;
            .icon {
              background-color: #fff;
              border-radius: 50%;
              width: 60px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            h4 {
              margin-left: 20px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

.cta-section {
  padding-top: 100px;
  margin-top: 120px;
  height: 544px;
  padding-bottom: 71px;
  width: 100%;
  background-image: url(../img/Rectangle\ 29.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .cta-blok {
    padding-left: 120px;
    padding-right: 20px;
    h2 {
      max-width: 624px;
      font-size: 2rem;
      color: #fff;
      font-weight: 500;
      margin-bottom: 22px;
    }
    p {
      color: #fff;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 55px;
    }
    .btn-cta {
      background: #ff00a2;
      padding: 10px 40px;
      font-size: 21px;
    }
  }
}

.recension-section {
  margin-top: 70px;
  padding-bottom: 60px;
  padding-left: 120px;
  overflow: hidden;
  .recension {
    display: flex;
    width: max-content;
    overflow: hidden;
    .rc-block {
      margin-right: 50px;
      background-color: #2a2a2d;
      padding: 55px;
      max-width: 574px;

      .upper-rc {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        .img-rc {
          background: #212123;
          width: 77px;
          height: 77px;
          border-radius: 50%;
        }
        span {
          margin-left: 22px;
          font-size: 25px;
          color: #fff;
        }
      }
      .down-rc {
        p {
          color: #a1aeb7;
          font-size: 20px;
          max-width: 448px;
        }
      }
    }
  }
  .moving {
    margin-top: 65px;
    padding-right: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    .block-left {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 66px;
      height: 66px;
      background-color: rgba($color: #9747ff, $alpha: 0.65);
      margin-right: 15px;
    }
    .block-right {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 77px;
      height: 77px;
      background-color: #9747ff;
    }
  }
}

footer {
  .ftl-left {
    width: 80%;
    height: 1px;
    background-color: #9747ff;
  }
  .ftl-right {
    width: 80%;
    height: 1px;
    background-color: #9747ff;
    float: right;
  }
  .container-index {
    .ft-ct {
      padding-top: 130px;
      padding-bottom: 100px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .col {
        padding: 10px;
        p {
          font-size: 20px;
          margin-bottom: 40px;
        }
        h1 {
          font-size: 40px;
          font-weight: 500;
        }
        h2 {
          font-weight: 400;
          font-size: 25px;
        }
        .subscribe {
          display: flex;
          flex-direction: column;
          #mail {
            background-color: transparent;
            border: 2px solid #9747ff;
            border-radius: 10px;
            height: 50px;
            padding: 5px 5px 5px 15px;
            width: 225px;
            margin-bottom: 20px;
          }
          .btn-cta {
            font-size: 20px;
          }
        }
      }
      .list {
        text-align: center;
        p {
          font-size: 30px;
          margin-bottom: 40px;
        }
        a {
          color: #fff;
          text-decoration: none;
        }
        ul {
          li {
            font-size: 20px;
            margin-bottom: 15px;
            list-style: none;
          }
        }
      }
    }
  }
  .allRights {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    width: 100%;
  }
}

// Responsive

@media screen and (max-width: 1170px) {
  .container-index {
    .features-section {
      .feature-ct {
        .feature {
          img {
            width: 40%;
          }
          h3 {
            font-size: 24px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .container-index {
    .category-section {
      .category-ct {
        .middle-upper {
          .lt-middle {
            img {
              width: 80%;
            }
          }
        }
      }
    }
  }
  .recension-section {
    .moving {
      .block-right {
        width: 66px;
        height: 66px;
      }
      .block-left {
        width: 55px;
        height: 55px;
      }
    }
  }

  footer {
    .container-index {
      .ft-ct {
        .col {
          p {
            font-size: 16px;
            margin-bottom: 40px;
          }
          h1 {
            font-size: 30px;
            font-weight: 500;
          }
          h2 {
            font-weight: 400;
            font-size: 25px;
          }
          .subscribe {
            #mail {
              height: 40px;
              width: 150px;
            }
            .btn-cta {
              font-size: 20px;
              padding: 10px 20px;
            }
          }
        }
        .list {
          p {
            font-size: 20px;
          }
          ul {
            li {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

//Slider
.swiper {
  width: 100%;
}

.swiper-slide {
  width: 300px;
  height: 300px;
}
//Slider

@media screen and (max-width: 950px) {
  .container-index {
    .features-section {
      .feature-ct {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .container-index {
    .category-section {
      .category-ct {
        grid-template-columns: auto;
        .middle-upper {
          .lt-middle {
            img {
              width: 60%;
            }
          }
        }
      }
    }
  }

  footer {
    .container-index {
      .ft-ct {
        display: grid;
        grid-template-columns: auto auto;
        .col {
          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .opacity {
      .heder-heading {
        h1 {
          font-size: 50px;
        }
      }
    }
  }
  .cta-section {
    .cta-blok {
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 725px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-index {
    padding-left: 20px;
    padding-right: 20px;
    .features-section {
      .feature-ct {
        grid-template-columns: auto;
        justify-content: center;
      }
    }
  }
  .best-seller-ct .heading-sec {
    padding-left: 20px;
  }
  .recension-section {
    padding-left: 20px;
    .recension {
      .rc-block {
        padding: 40px;
        width: 400px;
        .upper-rc {
          span {
            font-size: 20px;
          }
        }
        .down-rc {
          p {
            font-size: 16px;
          }
        }
      }
    }
    .moving {
      padding-right: 20px;
    }
  }
  footer {
    .container-index {
      .ft-ct {
        justify-content: space-around;
      }
    }
  }
}

@media screen and (max-width: 625px) {
  header {
    .nav {
      .links {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    .opacity {
      .heder-heading {
        h1 {
          font-size: 43px;
        }
      }
    }
  }
  .btn-i {
    font-size: 23px;
    padding: 10px 30px;
  }
  .container-index {
    .category-section {
      .category-ct {
        .middle-upper {
          .lt-middle {
            img {
              width: 80%;
            }
          }
        }
      }
    }
  }
  footer {
    .container-index {
      .ft-ct {
        grid-template-columns: auto;
      }
    }
  }
}
